:root {
    --main-txt-color: #000000;
    --highlight-text-color: #FFFFFF;
    --bg-title: #E1004B;
    --bg-primary:#1752A4;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol,
ul {
    list-style: outside none none;
}

blockquote,
q {
    quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
    content: none;
}

a {
    font-family: 'PlusJakartaSans', sans-serif;
    cursor: pointer;
    text-decoration: none !important;
    color: inherit;
}
input,input[type="text"]{
    border: 0px;
    padding: 10px 8px;
    outline: none;
    border-radius: 12px;
}

button {
    cursor: pointer;
    font-family: 'PlusJakartaSans';
    font-weight: inherit;
}
/* @font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/PlusJakartaSans.ttf')  format('ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/PlusJakartaSans.ttf')  format('ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PlusJakartaSans';
    src: url('./assets/fonts/PlusJakartaSans.ttf')  format('ttf');
    font-weight: 600;
    font-style: normal;
} */
body{
    font-family: 'PlusJakartaSans', sans-serif;
    background-color: var(--highlight-text-color);
    font-size: 16px;
}
.container{
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 50px;
}
header{
    background-color: var(--bg-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
header .header-left{
    max-width: 56px;
    width:100%;
    height: 55.27px;
}
header .header-left img{
    width: 100%;
    height: auto;
    max-width: 56px;
}
header .header-right{
    display: flex;
    align-items: center;
}
header .header-right .header-nav{
    display: flex;
    align-items: center;
}
.header .header-right .header-nav .nav-menu-list{
    display: flex;
    align-items: center;
    gap: 50px;
    color: var(--highlight-text-color);
}

.header-banner{
   margin-top: 20px;
   background-image: url(../images/bg-header.png);
   background-repeat: no-repeat;
   background-position: center center; 
   background-size: cover;
   width: 100%;
   height: 212px;
   color: var(--highlight-text-color);
   display: flex;
   
}
.header-banner-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;

}
.header-banner-content .header-banener-content-title{
    font-size: 36px;
}



.content{
    margin-top: 50px;
}
.content .content-ringtones{
    display: flex;
    gap: 22px;
    justify-content: space-between;
    flex-direction: row;
}
.content .content-ringtones .content-ringtones-new{
    width: 100%;
}
.content-ringtones-new .ringtones-new-title{
    background-color: var(--bg-title);
    color: var(--highlight-text-color);
    font-size: 24px;
    padding: 5px 0px;
    border-radius: 0 22px 0px 0px;
}
.content-ringtones-new .ringtones-category-list{
    margin-bottom: 88px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px; 
}
.ringtones-category-new-content{
    width: 100%;
}
.ringtones-category-list .ringtones-new-category{
    width: 100%;
    height: 162px;
    margin-top: 17px;
    background-image: url(../images/bg-ringtone-category-left.png);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.ringtones-new-category-title{
    color: var(--highlight-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.ringtones-new-content-export{
    align-items: center;
    display: flex;
    margin-top: 10px;
    background-color: var(--highlight-text-color);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 65px;
    border-radius: 12px;
    gap: 34px;
}
.ringtones-new-content-export .play-music{
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
}
.ringtones-new-content-details{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.ringtones-new-content-details h2{
    text-align: center;
    font-size: 18px;
    color: #E1004B;
    font-weight: 700;
}
.ringtones-new-content-details-export{
    gap: 30px;
    margin-top: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ringtones-new-content-details-export-left{
    display: flex;
    align-items: center;
    gap: 4px;
}
.ringtones-icon-listen{
    width: 16px;
    height: 14px;
}
.ringtones-new-view{
    font-size: 14px;
    font-weight: 700;
}
.ringtones-icon-download{
    width: 16px;
    height: 16px;
}
.ringtones-new-download{
    font-size: 14px;
    font-weight: 700;
}
.ringtones-new-content-export .ringtones-new-content-details .line{
    width: 4px;
    height: 22px;
    background-color: #E1004B;
    border-radius: 25px;
}
.ringtones-new-content-details-export-right{
    display: flex;
    align-items: center;
    gap: 4px;
}
.ringtones-new-content-times{
    display: flex;
    align-items: center;
    gap: 4px;
}
.ringtones-new-content-times .icon-times{
    width: 24px;
    height: 24px;
}
.ringtones-new-content-times .times-content{
    font-size: 18px;
    font-weight: 700;
}
.ringtones-new-content-paginate{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}
.ringtones-new-content-paginate .paginate-text{
    font-weight: 700;
}
.ringtones-new-content-paginate .paginate-text:hover{
    color: #E1004B;
}




.content-category{
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 300px;
}
.content-category-bg{
    width: 300px;
    height: 150px;
    margin-top: 55px;
    background-image: url(../images/bg-category-sidebar-ringtones.png);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content-category-title{
    color: var(--highlight-text-color);
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}
.content-category .content-category-export{
    margin-top: 36px;
}
.content-category .content-category-export-details{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    margin-bottom: 18px;
    padding: 16px 14px;
    border: 1px solid #E1004B;
    border-radius: 12px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.content-category .content-category-export .icon-music{
    width: 24px;
    height: 24px;
}
.content-category-export .content-category-export-title{
    font-size: 18px;
    color: #E1004B;
    font-weight: 700;
}


.content-category-ranks{
    gap: 12px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-category-rank-left{
    border-radius: 12px;
    padding: 12px 16px;
    background-color: var(--highlight-text-color);
    box-shadow: 0 10px 10px rgba(255, 255, 255, 1);
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-category-rank-left .icon-rank-music{
    width: 18px;
    height: 18px;
}
.ranks-txt{
    color: #E1004B;
    font-weight: 700;
}
.content-category-rank-right{
    border-radius: 12px;
    padding: 12px 16px;
    background-color: var(--highlight-text-color);
    box-shadow: 0 10px 10px rgba(255, 255, 255, 1);
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-category-rank-right .icon-rank-music{
    width: 18px;
    height: 18px;
}


.new-ringtones .new-ringtones-title .new-ringtones-title-details{
    font-size: 24px;
    margin-bottom: 36px;
}
.new-ringtones .new-ringtones-content{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.new-ringtones .new-ringtones-content-details{
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    border-radius: 24px;
    background-color: #ffffff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
}
.new-ringtones-content-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.new-ringtones-content .new-ringtones-content-left .new-ringtones-content-thumbnails{
    width: 180px;
    height: 180px;
}
.new-ringtones-content-right{
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-right: 24px;
}
.new-ringtones-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.new-ringtones-bottom-left{
    display: flex;
    gap: 30px;
}
.new-ringtones-author{
    display: flex;
    align-items: center;
    gap: 14px;
}
.new-ringtones-times{
    display: flex;
    align-items: center;
    gap: 14px;
}
.new-ringtones-author .new-ringtones-author-icon{
    width: 24px;
    height: 24px;
}
.new-ringtones-times .new-ringtones-times-icon{
    width: 24px;
    height: 24px;
}
.new-ringtones-content-paginate{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 45px;
}
.paginate-new{
    text-align: center;
    font-weight: 700;
}
.paginate-new:hover{
    color: #E1004B;
}

.ringtones-faq{
    margin-top: 88px;
}
.ringtones-faq-title{
    font-size: 24px;
    margin-bottom: 36px;
    text-align: center;
}
.ringtones-faq-toggle{
    display: flex;
    padding: 22px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 12px 12px 0px 0px;
    border-bottom: 2px solid #E1004B;
}
.container-faq{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}
.ringtones-faq-toggle-items{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.ringtones-faq-toggle-items .ringtones-faq-tab-title{
    color: #E1004B;
}
.ringtones-faq-toggle-top{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ringtones-faq-items-right{
    width: 17px;
    height: 10px;
}
.ringtones-faq-ans{
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}
.ringtones-faq-ans-details{
    margin-top: 10px;
}


.ringtones-footer{
    margin-top: 45px;
    width: 100%;
    height: 242px;
    background-color: var(--bg-primary);
}
.ringtones-footer-content{
    padding-top: 60px;
}
.ringtones-footer .ringtones-footer-content-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ringtones-footer-content-top-left{
    display: flex;
    justify-content: center;
    gap: 22px;
}
.footer-logo{
    width: 100%;
    height: auto;
    max-width: 56px;
}
.footer-title{
    color: var(--highlight-text-color);
    font-weight: 700;
}
.footer-txt{
    margin-top: 12px;
    font-weight: 400;
}
.ringtones-footer-content-top-right{
    display: flex;
    align-items: center;
    gap: 12px;
}
.ringtones-footer-content-top-right .footer-icon-google-play{
    width: 100%;
    height: auto;
    max-width: 180px;
}
.ringtones-footer-content-top-right .footer-icon-appstore{
    width: 100%;
    height: auto;
    max-width: 180px;
}
.footer-content-center{
    margin-top: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content-center-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-content-center-left .footer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.footer-content-center-left .footer-nav{
    color: var(--highlight-text-color);
}
.footer-line{
    width: 1px;
    height: 22px;
    background-color: var(--highlight-text-color);
    border-radius: 25px;
}
.footer-content-center-right{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-social-list .social-items{
    width: 50px;
    height: 50px;
}
.footer-content-bottom{
    margin: 22px 0px 22px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--highlight-text-color);
    font-weight: 500;
}